# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.sqlite3
*.sqlite
*.egg-info/

# Django
backend/staticfiles/
backend/app.sqlite
backend/demo_db/demo.sqlite
backend/frontend_dist/

# Frontend
frontend/node_modules/
frontend/dist/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.superpowers/
